/* Body-Titulo / Body-Titulo / Body-Titulo / Body-Titulo / Body-Titulo / Body-Titulo / Body-Titulo / Body-Titulo / Body-Titulo / Body-Titulo / Body-Titulo / Body-Titulo / */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body, html{
    background-color:black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100%;
    position: fixed;
}

#titulo{
    position: fixed;
    top: 0%;
    
    width: 100%;
    height: calc(10vh + 6vw);

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;

    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(50%);
}

#titulo h1{
    font-size: calc(3vh + 3vw);
    text-align: center;
    margin-right: 1%;

    font-family:'Courier New';
}

/* Indice / Indice / Indice / Indice / Indice / Indice / Indice / Indice / Indice / Indice / Indice / Indice / Indice / Indice / Indice / Indice / Indice / Indice / */

#indice{
    position: fixed;
    top: calc(10vh + 6vw);

    width: 100%;
    height: 8%;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;

    background-color: #0AAB9C;
}

.elem_indice{
    width: 4%;
    height: 50%;

    padding-top: 0.2%;
    padding-bottom: 0.2%;
    margin-left: 1%;

    display: flex;
    align-items: center;

    font-size: calc(0.7vh + 0.7vw);
    text-align: center;
    
    color: black;
    border-radius: calc(0.6vh + 0.6vw);
    border: calc(0.07vh + 0.07vw) solid black;
}

#barraRepro[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
}

#barraRepro[type="range"]::-webkit-slider-runnable-track { /*Modifica barra*/
    height: calc(0.7vh + 0.7vw); 
    
    background-color:white;
    border-radius: calc(0.2vh + 0.2vw);
}

#barraRepro[type="range"]::-webkit-slider-thumb { /*Modifica punto*/
    height: calc(1.2vh + 1.2vw); 
    width: calc(0.4vh + 0.4vw); 

    position: relative;
    bottom: calc(0.25vh + 0.25vw);

    background-color:#DADC36; 
    border-radius: calc(0.2vh + 0.2vw);
    cursor: pointer;
    appearance: none;
}

#controles-audio {
    width: calc(20vh + 10vw);
    height: calc(2vh + 1vw);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.4%;
}

#playImg{
    height: calc(1vh + 1vw);
    width: calc(1vh + 1vw); 
} 

#div_boton_dorado{
    padding: 0.4%; 

    display: flex;
    height: fit-content;
    
    background-color: #DADC36;
}

/* Sliders / Sliders / Sliders / Sliders / Sliders / Sliders / Sliders / Sliders / Sliders / Sliders / Sliders / Sliders / Sliders / Sliders / Sliders / Sliders / Sliders / */

#botones{
    position: fixed;
    top: calc(19vh + 6vw);
    bottom: 0%;

    width: 100%;
    height: 100%;

    background-color: black;
    display: flex;

    background-image: url("../img/background_body.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#sliders{
    position: fixed;
    top: calc(16vh + 6vw);
    bottom: 0%;
    right: calc(40vw + 8vh);
    left: 0%;

    width: 45%;
    height: 65%;

    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
}

.sliders{
    width: 100%;
    height: 85%;

    margin-right: 8%;
    margin-left: 8%;

    background: linear-gradient(to top, #DADC36, #00A79D);
    border-radius: calc(0.6vh + 0.6vw);
}

.name_slider{
    position: fixed;
    top: calc(56vh + 12vw);

    height: 14%;
    width: 7.8%;
    padding-bottom: 1%;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    text-align: center;
    font-size: calc(0.7vh + 0.7vw);

    background-color: #DADC36;
    border-radius: calc(0.6vh + 0.6vw);
    z-index: -1;
}

.span_sliders{
    display: flex;
    align-items: flex-end;
    justify-content: center;

    margin-top: 10%;

    text-align: center;
    font-size: calc(0.65vh + 0.65vw);
}

.elem_slider{
    transform: rotate(-90deg) translateY(calc(-7vh - 3.8vw)) translateX(calc(-10vh - 6vw));
    transform-origin: bottom;

    width: 300%;
}

.elem_slider[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
}

.elem_slider[type="range"]::-webkit-slider-runnable-track { /*Modifica barra*/
    height: calc(1.1vh + 1.1vw); 
    
    background-color:white;
    border-radius: calc(0.2vh + 0.2vw);
}

.elem_slider[type="range"]::-webkit-slider-thumb { /*Modifica punto*/
    height: calc(3vh + 3vw); 
    width: calc(1.1vh + 1.1vw); 

    position: relative;
    bottom: calc(0.9vh + 0.9vw);

    background-color:#DADC36;
    border:calc(0.01vh + 0.01vw) solid black;
    border-radius: calc(0.2vh + 0.2vw);
    cursor: pointer;
    appearance: none;
}

/* Botones Mid / Botones Mid / Botones Mid / Botones Mid / Botones Mid / Botones Mid / Botones Mid / Botones Mid / Botones Mid / Botones Mid / Botones Mid / Botones Mid / */

#botones_mid{
    position: fixed;
    top: calc(68vh + 26vw);
    bottom: 0%;
    right: calc(23vw + 10vh);
    left: calc(35vw + 10vh);

    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

#bases{
    width: 45%;
    height: 6%;

    margin-top: 6%;
    margin-bottom: 6%;
    
    font-size: calc(0.7vh + 0.7vw);
    text-align: center;
    
    background-color: #DADC36;
    border-bottom-left-radius: calc(0.6vh + 0.6vw);
    border-top-left-radius: calc(0.6vh + 0.6vw);
    cursor: pointer;
}

/* Botones Derecha / Botones Derecha / Botones Derecha / Botones Derecha / Botones Derecha / Botones Derecha / Botones Derecha / Botones Derecha / Botones Derecha / Botones Derecha / */

#controladores{
    position: fixed;
    top: calc(16vh + 6vw);
    bottom: 0%;
    left: calc(65vw + 10vh);
    right: 0%;

    display: flex;
    align-items: center;
    align-self: center;

    width: 35%;
    height: 100%;
}

#sub_controladores{
    display: flex;
    height: calc(20vh + 3vw);
    width: calc(20vh + 8vw);
    height: fit-content;
}

#div_boton_azul{
    padding: 5%;
    margin: 5%;

    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    
    background: linear-gradient(to top, #DADC36 0%, #DADC36 5%, #00A79D 40%, #00A79D 100%);
    border-radius: calc(0.6vh + 0.6vw);
}

#div_boton_rojo{
    padding: 5%;
    margin: 5%;

    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    
    background: linear-gradient(to top, #DADC36 0%, #DADC36 1%, #e34949 30%, #e34949 100%);
    border-radius: calc(0.6vh + 0.6vw);
}

#startImg, #stopImg, #downloadImg{
    height: calc(6vh + 3vw);
    width: calc(6vh + 3vw);
}

button{
    border-style:none;
    background-color: transparent;
    cursor: pointer;
}

.name_controladores{
    position: fixed;
    top: calc(48vh + 10vw);

    height: 10%;
    width: calc(5.7vh + 5.7vw);
    padding-bottom: 1%;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    text-align: center;
    font-size: calc(0.6vh + 0.6vw);

    background-color: #DADC36;
    border-radius: calc(0.6vh + 0.6vw);
    z-index: -1;
}

/* Info / Info / Info / Info / Info / Info / Info / Info / Info / Info / Info / Info / Info / Info / Info / Info / Info / Info / Info / Info / */

#info_titulo{
    width: 2.6%;
    height: auto;
    
    margin-left: 1%;
    filter: invert(90%);
}

.info_indice{
    width: 2%;
    height: auto;
    
    margin: 1%;
}

.info_sliders{
    width: 15%;
    height: auto;

    margin-left: 6%;
    margin-bottom: 0.8%;
}

#info_bases{
    transform: translateX(300%) translateY(calc(-6vh - 3.9vw));

    width: auto;
    height: 6%;

    margin-top: 6%;
    margin-bottom: 6%;
    
    background-color: #DADC36;
    border-top-right-radius: calc(0.6vh + 0.6vw);
    border-bottom-right-radius: calc(0.6vh + 0.6vw);
}

.info_controladores{
    width: 24%;
    height: auto;

    margin-left: 2%;
    margin-right: 4%;
    margin-bottom: 0.8%;
}